Repository a-company-jp/gaishi-hackathon-app, changes with the labels that .github/labeler.yml gives for each.
All labels: Backend, Frontend, CI/CD, GraphQL

.github/labeler.yml:

Backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**'

Frontend:
  - changed-files:
    - any-glob-to-any-file: 'webapp/**'

CI/CD:
  - changed-files:
    - any-glob-to-any-file: '.github/**'

GraphQL:
  - changed-files:
    - any-glob-to-any-file: '**/*.graphqls'

🚧 deploy-cloudrun-backend.yaml
  .github/workflows/deploy-cloudrun-backend.yaml
  backend/build/Dockerfile.prod
Labels: Backend, CI/CD

💚 change build path
  .github/workflows/deploy-cloudrun-backend.yaml
  backend/build/Dockerfile.prod
Labels: Backend, CI/CD

🚚 deprecate tools.go
  tools.go.tmp
Labels: none

📦️ update package name
  backend/cmd/dev/main.go
  backend/graph/generated.go
  backend/graph/model/format_response.go
  backend/graph/resolver.go
  backend/graph/schema.resolvers.go
  backend/repository/user.go
  backend/repository/user.sql.go
  backend/service/user.go
Labels: Backend

🚚 move go.mod to backend folder
  backend/go.mod
  backend/go.sum
  go.mod
  go.sum
Labels: Backend

🔧 setup aqua.yaml
  aqua.yaml
Labels: none

👷 update CI to use backend folder
  .github/workflows/build-backend.yml
  .github/workflows/check-generate.yml
  Makefile
Labels: CI/CD

🔧 configure graphql gen on backend folder
  backend/go.mod
  backend/go.sum
  backend/gqlgen.yml
  backend/graph/generated.go
  backend/graph/schema.resolvers.go
  backend/tools.go
  graphql/model.graphqls
  graphql/schema.graphqls
  webapp/graphql.config.ts
  webapp/model.graphqls
  webapp/schema.graphqls
Labels: Backend, Frontend, GraphQL

🔥 graphql.config.ts
  graphql.config.ts
Labels: none

💥 change DB migration management to golang-migrate/migrate
  Makefile
  aqua.yaml
  backend/db_model/schemamigrationsseed.xo.go
  backend/db_schema/migrations/000001_create-users.down.sql
  backend/db_schema/migrations/000001_create-users.up.sql
  backend/db_schema/migrations/000002_create-follows.down.sql
  backend/db_schema/migrations/000002_create-follows.up.sql
  backend/db_schema/seed/00000000000000_init.sql
  backend/db_schema/seed/000001_users.down.sql
  backend/db_schema/seed/000001_users.up.sql
  backend/db_schema/seed/000002_follows.down.sql
  backend/db_schema/seed/000002_follows.up.sql
Labels: Backend

🐛 change backend service mount path
  backend/build/Dockerfile.dev
  docker-compose.yml
Labels: Backend

👷 change trigger for CI `migrate and generate model`
  .github/workflows/check-generate.yml
Labels: CI/CD

🔥 remove step `Install go tools`
  .github/workflows/check-generate.yml
Labels: CI/CD

👷 add step to setup golang-migrate
  .github/workflows/check-generate.yml
Labels: CI/CD

👷 exclude schema_migrations from generating db_model
  Makefile
  backend/db_model/schemamigration.xo.go
  backend/db_model/schemamigrationsseed.xo.go
Labels: Backend

💚 upgrade go ver to 1.23.3, change build context path
  .github/workflows/deploy-cloudrun-backend.yaml
  backend/build/Dockerfile.prod
Labels: Backend, CI/CD

🐛 setting file yaml mysql → postgres
  backend/pkg/settings/setting.sample.yaml
  backend/pkg/settings/setting.template.yaml
Labels: Backend

👷 deploy frontend
  .github/workflows/deploy-cloudrun-frontend.yaml
  webapp/Dockerfile
Labels: Frontend, CI/CD

➕ graphql-config
  pnpm-lock.yaml
  webapp/package.json
Labels: Frontend

🔧 create symbolic link for graphql
  webapp/graphql
  webapp/graphql.config.ts
Labels: Frontend

🔧 configure NEXT_PUBLIC_GRAPHQL_SERVER_URL
  .github/workflows/deploy-cloudrun-frontend.yaml
  webapp/Dockerfile
Labels: Frontend, CI/CD

🔧 .env.sample
  webapp/.env.sample
  webapp/.gitignore
Labels: Frontend

🐛 mock/page → mock/[id].tsx
  webapp/src/app/mock/[id].tsx
  webapp/src/app/mock/page.tsx
Labels: Frontend

👷 fix trigger for frontend deploy CI
  .github/workflows/deploy-cloudrun-frontend.yaml
Labels: CI/CD

✨ index page
  webapp/src/app/page.tsx
Labels: Frontend

🍱 move .air.toml to backend folder
  backend/.air.toml
Labels: Backend

🔧 add redis field in pkg/settings
  backend/pkg/settings/Infrastructure.go
  backend/pkg/settings/setting.sample.yaml
  backend/pkg/settings/setting.template.yaml
Labels: Backend

🧑‍💻 fix backend path for local dev
  backend/build/Dockerfile.dev
  docker-compose.yml
Labels: Backend

✨ redis load
  backend/cmd/dev/main.go
  backend/go.mod
  backend/go.sum
Labels: Backend

✨ setup terragrunt workspace
  aqua.yaml
  infra/.gitignore
  infra/envs/dev/.gitignore
  infra/envs/dev/terragrunt.hcl
  infra/shared/provider.tf
  infra/shared/variables.tf
  infra/shared/version.tf
  infra/terragrunt.hcl
Labels: none

👷 implement CI for IaC (terragrunt)
  .github/scripts/tfwrapper.sh
  .github/workflows/terragrunt-apply.yml
  .github/workflows/terragrunt-plan.yml
  aqua.yaml
Labels: CI/CD

👷 change CI trigger
  .github/workflows/terragrunt-apply.yml
  .github/workflows/terragrunt-plan.yml
Labels: CI/CD

⬇️ downgrade aqua packages due to slsa error
  .github/workflows/terragrunt-plan.yml
  aqua.yaml
Labels: CI/CD

⬆️ re-upgrade aqua packages due to slsa error
  aqua.yaml
Labels: none

🔥 remove tflint
  .github/workflows/terragrunt-apply.yml
  .github/workflows/terragrunt-plan.yml
Labels: CI/CD

👷 change terragrunt working path
  .github/workflows/terragrunt-apply.yml
  .github/workflows/terragrunt-plan.yml
  infra/envs/terragrunt.hcl
Labels: CI/CD

🧱 import existing infrastructures
  infra/envs/dev/google_artifact_registry.tf
  infra/envs/dev/google_cloud_run.tf
  infra/envs/dev/google_compute_network.tf
  infra/envs/dev/google_redis_instance.tf
  infra/envs/dev/google_sql_db_instance.tf
  infra/envs/dev/imports.tf
Labels: none

🧱 import dns resources
  infra/envs/dev/google_dns.tf
  infra/envs/dev/google_sql_db_instance.tf
  infra/envs/dev/imports.tf
Labels: none

🧱 add backend block
  infra/envs/dev/terragrunt.hcl
  infra/shared/backend.tf
Labels: none

🙈 update .gitignore for infra
  infra/.gitignore
  infra/envs/dev/.gitignore
Labels: none
