Repository a-company-jp/gaishi-hackathon-app, pull requests merged in 2024-11, with the labels that each got.

#5 Backend Deploy用CIの追加
  .github/workflows/deploy-cloudrun-backend.yaml
  backend/build/Dockerfile.prod
Labels: Backend, CI/CD

#7 `go.mod` のbackendフォルダへの移行
  .github/workflows/build-backend.yml
  .github/workflows/check-generate.yml
  Makefile
  aqua.yaml
  backend/build/Dockerfile.dev
  backend/cmd/dev/main.go
  backend/db_model/schemamigration.xo.go
  backend/db_schema/migrations/000001_create-users.down.sql
  backend/db_schema/migrations/000001_create-users.up.sql
  backend/db_schema/migrations/000002_create-follows.down.sql
  backend/db_schema/migrations/000002_create-follows.up.sql
  backend/db_schema/seed/00000000000000_init.sql
  backend/db_schema/seed/000001_users.down.sql
  backend/db_schema/seed/000001_users.up.sql
  backend/db_schema/seed/000002_follows.down.sql
  backend/db_schema/seed/000002_follows.up.sql
  backend/go.mod
  backend/go.sum
  backend/gqlgen.yml
  backend/graph/generated.go
  backend/graph/model/format_response.go
  backend/graph/resolver.go
  backend/graph/schema.resolvers.go
  backend/repository/user.go
  backend/repository/user.sql.go
  backend/service/user.go
  backend/tools.go
  docker-compose.yml
  go.mod
  go.sum
  graphql.config.ts
  graphql/model.graphqls
  graphql/schema.graphqls
  tools.go.tmp
  webapp/graphql.config.ts
  webapp/model.graphqls
  webapp/schema.graphqls
Labels: Backend, Frontend, CI/CD, GraphQL

#8 💚 upgrade go ver to 1.23.3, change build context path
  .github/workflows/deploy-cloudrun-backend.yaml
  backend/build/Dockerfile.prod
Labels: Backend, CI/CD

#10 CI for deploying frontend
  .github/workflows/deploy-cloudrun-frontend.yaml
  webapp/Dockerfile
Labels: Frontend, CI/CD

#12 Mockページのエラー解消
  webapp/.env.sample
  webapp/.gitignore
  webapp/src/app/mock/[id].tsx
  webapp/src/app/mock/page.tsx
Labels: Frontend

#13 👷 fix trigger for frontend deploy CI
  .github/workflows/deploy-cloudrun-frontend.yaml
Labels: CI/CD

#14 ✨ index page
  webapp/src/app/page.tsx
Labels: Frontend

#15 Backend local開発環境の修正 + Redis読み込みの実装
  backend/.air.toml
  backend/build/Dockerfile.dev
  backend/cmd/dev/main.go
  backend/go.mod
  backend/go.sum
  backend/pkg/settings/Infrastructure.go
  backend/pkg/settings/setting.sample.yaml
  backend/pkg/settings/setting.template.yaml
  docker-compose.yml
Labels: Backend

#16 TerregruntによるIaCの導入
  .github/scripts/tfwrapper.sh
  .github/workflows/terragrunt-apply.yml
  .github/workflows/terragrunt-plan.yml
  aqua.yaml
  infra/.gitignore
  infra/envs/dev/.gitignore
  infra/envs/dev/terragrunt.hcl
  infra/envs/terragrunt.hcl
  infra/shared/provider.tf
  infra/shared/variables.tf
  infra/shared/version.tf
  infra/terragrunt.hcl
Labels: CI/CD

#17 🧱 import existing infrastructures
  infra/envs/dev/google_artifact_registry.tf
  infra/envs/dev/google_cloud_run.tf
  infra/envs/dev/google_compute_network.tf
  infra/envs/dev/google_redis_instance.tf
  infra/envs/dev/google_sql_db_instance.tf
  infra/envs/dev/imports.tf
Labels: dev/add-or-update

#18 🧱 import dns resources
  infra/envs/dev/google_dns.tf
  infra/envs/dev/google_sql_db_instance.tf
  infra/envs/dev/imports.tf
Labels: dev/add-or-update

#19 🧱 add backend block
  infra/envs/dev/terragrunt.hcl
  infra/shared/backend.tf
Labels: dev/add-or-update

#20 Project, Secretsのimport | CloudRun v2への切り替え | labelerの設定
  .github/labeler.yml
  infra/.gitignore
  infra/envs/dev/.gitignore
  infra/envs/dev/google_artifact_registry.tf
  infra/envs/dev/google_cloud_run.tf
  infra/envs/dev/google_cloud_run_v2.tf
  infra/envs/dev/google_compute_network.tf
  infra/envs/dev/google_dns.tf
  infra/envs/dev/google_project.tf
  infra/envs/dev/google_redis_instance.tf
  infra/envs/dev/google_secret_manager_secret.tf
  infra/envs/dev/google_sql_db_instance.tf
  infra/envs/dev/imports.tf
Labels: CI/CD, dev/add-or-update

#21 ACME CHALLENGE用レコード追加 / VPCインポート
  infra/envs/dev/google_cloud_run_v2.tf
  infra/envs/dev/google_compute_network.tf
  infra/envs/dev/google_dns.tf
  infra/envs/dev/imports.tf
Labels: dev/add-or-update, Infra

#22 🧱 update record for acme_challenge *.i.a.shion.pro
  infra/envs/dev/google_dns.tf
Labels: Infra, dev/destroy

#23 Wildcard Aレコードでfrontend側に転送する仕組みが完成
  infra/envs/dev/google_certificate_manager_certificate_map.tf
  infra/envs/dev/google_compute_address.tf
  infra/envs/dev/google_compute_global_forwarding_rule.tf
  infra/envs/dev/google_compute_target_https_proxy.tf
  infra/envs/dev/google_dns.tf
  infra/envs/dev/google_ssl_cert.tf
  infra/envs/dev/imports.tf
Labels: Infra, dev/no-changes

#27 Initial Migration
  backend/cmd/dev/main.go
  backend/db_model/allergen.xo.go
  backend/db_model/allergentranslation.xo.go
  backend/db_model/db.xo.go
  backend/db_model/follow.xo.go
  backend/db_model/menucategory.xo.go
  backend/db_model/menucategorytranslation.xo.go
  backend/db_model/menuitem.xo.go
  backend/db_model/menuitemallergen.xo.go
  backend/db_model/menuitemtranslation.xo.go
  backend/db_model/order.xo.go
  backend/db_model/orderitem.xo.go
  backend/db_model/payment.xo.go
  backend/db_model/restaurant.xo.go
  backend/db_model/table.xo.go
  backend/db_model/tableguest.xo.go
  backend/db_model/tableguestallergy.xo.go
  backend/db_model/tablevisit.xo.go
  backend/db_model/user.xo.go
  backend/db_schema/migrations/000001_create-init.down.sql
  backend/db_schema/migrations/000001_create-init.up.sql
  backend/db_schema/migrations/000001_create-users.down.sql
  backend/db_schema/migrations/000001_create-users.up.sql
  backend/db_schema/migrations/000002_create-follows.down.sql
  backend/db_schema/migrations/000002_create-follows.up.sql
  backend/db_schema/seed/000001_users.down.sql
  backend/db_schema/seed/000001_users.up.sql
  backend/db_schema/seed/000002_follows.down.sql
  backend/db_schema/seed/000002_follows.up.sql
  backend/graph/model/format_response.go
  backend/graph/resolver.go
  backend/graph/schema.resolvers.go
  backend/repository/user.go
  backend/repository/user.sql.go
  backend/service/user.go
  docker-compose.yml
Labels: Backend

#30 ✨ migration logic on production
  .github/PULL_REQUEST_TEMPLATE.md
  backend/cmd/dev/main.go
  backend/cmd/dev/migrate.go
  backend/db_schema/config.json
  backend/go.mod
  backend/go.sum
Labels: Backend, CI/CD

#31 初回Migration実施時のハンドリング
  backend/cmd/dev/migrate.go
Labels: Backend

#33 github_shaの変更差分による影響の解消
  infra/envs/dev/google_cloud_run_v2.tf
Labels: Infra, dev/no-changes

#34 CORSの設定更新
  backend/middleware/cors.go
Labels: Backend

#36 Pirotyyy/menu page
  pnpm-lock.yaml
  webapp/package.json
  webapp/public/foods/icon_110670_256.png
  webapp/public/foods/icon_130420_256.png
  webapp/public/foods/icon_146880_256.png
  webapp/public/foods/icon_148240_256.png
  webapp/public/foods/icon_148990_256.png
  webapp/public/foods/icon_155750_256.png
  webapp/public/foods/icon_161540_256.png
  webapp/public/foods/icon_161600_256.png
  webapp/public/foods/icon_161630_256.png
  webapp/src/app/globals.css
  webapp/src/app/layout.tsx
  webapp/src/app/menu/page.tsx
  webapp/src/components/layout/Footer.tsx
  webapp/src/components/layout/Header.tsx
  webapp/src/components/ui/scroll-area.tsx
  webapp/src/features/menu/MenuPage.tsx
Labels: Frontend

#32 Tsuchiya/genre card
  webapp/src/components/GenreCard.tsx
Labels: Frontend

#38 👷 fix go.sum cache settings
  .github/workflows/check-generate.yml
Labels: CI/CD

#39 pirotyyy/fix tailwind config
  webapp/src/components/CartButton.tsx
  webapp/tailwind.config.ts
Labels: Frontend

#40 pirotyyy/set cart btn to menu page
  webapp/src/components/CartButton.tsx
  webapp/src/components/NumberComponents.tsx
  webapp/src/features/menu/MenuPage.tsx
Labels: Frontend

#41 GraphQLスキーマの定義
  backend/graph/generated.go
  backend/graph/model/models_gen.go
  backend/graph/schema.resolvers.go
  graphql/model.graphqls
  graphql/schema.graphqls
  webapp/src/app/mock/[id].tsx
  webapp/src/features/mock/MockPage.tsx
  webapp/src/features/mock/MockUser.tsx
  webapp/src/gql/__generated__/gql.ts
  webapp/src/gql/__generated__/graphql.ts
Labels: Backend, Frontend, GraphQL

#43 Health queryの追加
  graphql/schema.graphqls
  webapp/src/app/health/page.tsx
  webapp/src/gql/__generated__/gql.ts
  webapp/src/gql/__generated__/graphql.ts
Labels: Frontend, GraphQL

#46 pirotyyy/layout
  webapp/public/placeholder.svg
  webapp/src/app/layout.tsx
  webapp/src/app/menu/page.tsx
  webapp/src/features/menu/MenuFooter.tsx
  webapp/src/features/menu/MenuPage.tsx
Labels: Frontend

#47 Healthによる変更の反映
  backend/graph/generated.go
  backend/graph/schema.resolvers.go
Labels: Backend

#48 Graphqlのフロントエンドの叩き方修正
  .github/workflows/lint-frontend.yml
  webapp/src/app/health/page.tsx
Labels: Frontend, CI/CD

#49 🐛 fix logic to drop all tables on version 0
  backend/cmd/dev/migrate.go
Labels: Backend

#45 Migrationの変更
  backend/db_model/account.xo.go
  backend/db_model/accountstableselection.xo.go
  backend/db_model/allergen.xo.go
  backend/db_model/cookie.xo.go
  backend/db_model/menuitem.xo.go
  backend/db_model/order.xo.go
  backend/db_model/ordereditem.xo.go
  backend/db_model/orderitem.xo.go
  backend/db_model/payment.xo.go
  backend/db_model/placedorder.xo.go
  backend/db_model/tableguest.xo.go
  backend/db_model/tablesession.xo.go
  backend/db_model/tablesessionuser.xo.go
  backend/db_model/tablesessionuserallergy.xo.go
  backend/db_schema/migrations/000001_create-init.down.sql
  backend/db_schema/migrations/000001_create-init.up.sql
  backend/go.mod
Labels: Backend

#51 frontendをGCSに変換
  .github/workflows/deploy-cloudrun-frontend.yaml
  .github/workflows/deploy-gcs-frontend.yaml
  webapp/next.config.ts
  webapp/src/app/not-found.tsx
  webapp/src/app/order/allegy/page.tsx
  webapp/src/app/order/cart/page.tsx
  webapp/src/app/order/list/page.tsx
  webapp/src/app/order/menu/[id]/page.tsx
  webapp/src/app/order/start/page.tsx
Labels: Frontend, CI/CD

#52 GCSデプロイworkflowの修正
  .github/workflows/deploy-gcs-frontend.yaml
  webapp/src/app/not-found.tsx
Labels: Frontend, CI/CD

#53 trailingSlashの設定
  webapp/next.config.ts
Labels: Frontend

#54 reduxの導入 / SSGでのメタデータの設定
  pnpm-lock.yaml
  webapp/package.json
  webapp/src/app/health/health.tsx
  webapp/src/app/health/page.tsx
  webapp/src/app/layout.tsx
  webapp/src/app/order/allergy/allergy.tsx
  webapp/src/app/order/allergy/page.tsx
  webapp/src/app/order/cart/page.tsx
  webapp/src/app/order/list/page.tsx
  webapp/src/app/order/menu/[id]/page.tsx
  webapp/src/app/order/start/page.tsx
  webapp/src/redux/slices/tenantIdSlice.ts
  webapp/src/redux/store.ts
  webapp/tsconfig.json
Labels: Frontend

#58 Tsuchiya/order cart
  webapp/public/buckwheat.jpg
  webapp/public/omelet.jpg
  webapp/src/app/order/cart/page.tsx
  webapp/src/components/CartButton.tsx
  webapp/src/components/OrderCartFooter.tsx
  webapp/src/components/OrderCartHeader.tsx
  webapp/src/components/OrderCartItem.tsx
  webapp/src/features/order-cart/OrderCartPage.tsx
Labels: Frontend

#61 Cookie Middlewareの実装
  .github/workflows/deploy-gcs-frontend.yaml
  backend/cmd/dev/main.go
  backend/cmd/dev/migrate.go
  backend/db_model/account.xo.go
  backend/db_model/accountstableselection.xo.go
  backend/db_model/cookie.xo.go
  backend/db_model/restaurant.xo.go
  backend/db_schema/config.json
  backend/db_schema/migrations/000001_create-init.up.sql
  backend/graph/generated.go
  backend/graph/schema.resolvers.go
  backend/middleware/issue-cookie.go
  graphql/schema.graphqls
  webapp/src/app/health/health.tsx
  webapp/src/components/provider/ApolloProvider.tsx
  webapp/src/gql/__generated__/gql.ts
  webapp/src/gql/__generated__/graphql.ts
Labels: Backend, Frontend, CI/CD, GraphQL

#62 Feature/menu page
  pnpm-lock.yaml
  webapp/package.json
  webapp/src/components/MenuModal.tsx
  webapp/src/components/NumberComponents.tsx
  webapp/src/components/ui/dialog.tsx
  webapp/src/features/menu/MenuPage.tsx
Labels: Frontend

#63 feat: アレルギー情報登録画面を追加
  webapp/src/app/order/allergy/allergy.tsx
Labels: Frontend

#64 pirotyyy/display allergies
  webapp/public/foods/beef.png
  webapp/public/foods/crab.png
  webapp/public/foods/egg.png
  webapp/public/foods/fish.png
  webapp/public/foods/kiwi.png
  webapp/public/foods/orange.png
  webapp/public/foods/peanuts.png
  webapp/public/foods/shrimp.png
  webapp/public/foods/soba.png
  webapp/src/app/layout.tsx
  webapp/src/components/GenreCard.tsx
  webapp/src/components/MenuModal.tsx
  webapp/src/features/menu/DisplayAllergies.tsx
  webapp/src/features/menu/MenuPage.tsx
Labels: Frontend

#65 update: アレルギーアイコンをコンポーネント化
  webapp/src/app/order/allergy/allergy.tsx
  webapp/src/components/AllergyIcon.tsx
Labels: Frontend

#42 feat: 言語選択ページの実装
  webapp/src/app/language/page.tsx
  webapp/src/app/types/language.ts
  webapp/src/features/language/LanguageSelectPage.tsx
  webapp/tailwind.config.ts
Labels: Frontend

#73 feat: アレルゲン選択画面の調整
  webapp/src/app/allergy/page.tsx
  webapp/src/app/order/allergy/page.tsx
  webapp/src/components/AllergenButton.tsx
  webapp/src/components/AllergyIcon.tsx
  webapp/src/features/allergy/AllergenSelectPage.tsx
  webapp/src/features/language/LanguageSelectPage.tsx
Labels: Frontend

#74 JoinTableSessionの修正
  backend/db_schema/migrations/000002_cart.down.sql
  backend/db_schema/seed/000001_init.down.sql
  backend/db_schema/seed/000001_init.up.sql
  backend/graph/schema.resolvers.go
  backend/middleware/issue-cookie.go
Labels: Backend

#76 ✨ フロント側のJoinTableSessionの実装
  webapp/src/app/not-found.tsx
  webapp/src/gql/__generated__/gql.ts
  webapp/src/gql/__generated__/graphql.ts
Labels: Frontend

#70 Tsuchiya/order list
  webapp/src/app/order/list/page.tsx
  webapp/src/components/OrderListFooter.tsx
  webapp/src/components/OrderListHeader.tsx
  webapp/src/components/OrderListItem.tsx
Labels: Frontend

#71 pirotyyy/menu card
  webapp/src/features/menu/MenuCard.tsx
  webapp/src/features/menu/MenuPage.tsx
Labels: Frontend

#75 Tsuchiyakeita/menu allergy
  webapp/src/components/AllergenButton.tsx
  webapp/src/features/menu/DisplayAllergies.tsx
  webapp/src/features/menu/MenuPage.tsx
Labels: Frontend

#77 feat: i18nセットアップ
  webapp/src/app/[lang]/dictionaries.ts
  webapp/src/app/[lang]/dictionaries/de.json
  webapp/src/app/[lang]/dictionaries/en.json
  webapp/src/app/[lang]/dictionaries/es.json
  webapp/src/app/[lang]/dictionaries/fr.json
  webapp/src/app/[lang]/dictionaries/it.json
  webapp/src/app/[lang]/dictionaries/ja.json
  webapp/src/app/[lang]/dictionaries/ko.json
  webapp/src/app/[lang]/dictionaries/ru.json
  webapp/src/app/[lang]/dictionaries/th.json
  webapp/src/app/[lang]/dictionaries/zh.json
  webapp/src/app/[lang]/layout.tsx
  webapp/src/app/[lang]/order-mode/page.tsx
  webapp/src/app/order-mode/page.tsx
  webapp/src/app/types/dictionary.ts
  webapp/src/features/language/LanguageSelectPage.tsx
  webapp/src/features/order-mode/OrderModeSelectPage.tsx
Labels: Frontend

#78 feat: アレルギーページのi18n対応
  webapp/src/app/[lang]/allergy/page.tsx
  webapp/src/app/[lang]/dictionaries/de.json
  webapp/src/app/[lang]/dictionaries/en.json
  webapp/src/app/[lang]/dictionaries/es.json
  webapp/src/app/[lang]/dictionaries/fr.json
  webapp/src/app/[lang]/dictionaries/it.json
  webapp/src/app/[lang]/dictionaries/ja.json
  webapp/src/app/[lang]/dictionaries/ko.json
  webapp/src/app/[lang]/dictionaries/ru.json
  webapp/src/app/[lang]/dictionaries/th.json
  webapp/src/app/[lang]/dictionaries/zh.json
  webapp/src/app/allergy/page.tsx
  webapp/src/app/types/dictionary.ts
  webapp/src/features/allergy/AllergenSelectPage.tsx
  webapp/src/features/order-mode/OrderModeSelectPage.tsx
Labels: Frontend

#82 impl MenuItems
  backend/graph/schema.resolvers.go
  backend/middleware/issue-cookie.go
  backend/service/postgres.go
Labels: Backend

#81 pirotyyy/front gql
  webapp/src/features/allergy/AllergenSelectPage.tsx
  webapp/src/features/menu/MenuCard.tsx
  webapp/src/features/menu/MenuPage.tsx
  webapp/src/features/order-cart/OrderCartPage.tsx
  webapp/src/gql/__generated__/gql.ts
  webapp/src/gql/__generated__/graphql.ts
Labels: Frontend

#83 🔥 remove unnecessary params in graphqls
  backend/graph/generated.go
  backend/graph/schema.resolvers.go
  backend/service/postgres.go
  graphql/schema.graphqls
  webapp/src/gql/__generated__/graphql.ts
Labels: Backend, Frontend, GraphQL

#84 :sparkles: graphql codegen
  webapp/src/features/allergy/AllergenSelectPage.tsx
  webapp/src/features/menu/MenuPage.tsx
  webapp/src/features/order-cart/OrderCartPage.tsx
  webapp/src/gql/__generated__/gql.ts
  webapp/src/gql/__generated__/graphql.ts
Labels: Frontend

#86 impl gql new
  backend/graph/generated.go
  backend/graph/schema.resolvers.go
  backend/middleware/issue-cookie.go
  backend/service/postgres.go
  graphql/schema.graphqls
  webapp/src/gql/__generated__/graphql.ts
Labels: Backend, Frontend, GraphQL

#92 fix: カートに入れる個数のi18n対応漏れ
  webapp/src/app/[lang]/dictionaries/de.json
  webapp/src/app/[lang]/dictionaries/en.json
  webapp/src/app/[lang]/dictionaries/es.json
  webapp/src/app/[lang]/dictionaries/fr.json
  webapp/src/app/[lang]/dictionaries/it.json
  webapp/src/app/[lang]/dictionaries/ja.json
  webapp/src/app/[lang]/dictionaries/ko.json
  webapp/src/app/[lang]/dictionaries/ru.json
  webapp/src/app/[lang]/dictionaries/th.json
  webapp/src/app/[lang]/dictionaries/zh.json
  webapp/src/app/types/dictionary.ts
  webapp/src/components/MenuModal.tsx
Labels: Frontend

#93 🧱 import google_compute_url_map.tf google_storage_bucket.tf
  infra/envs/dev/google_compute_url_map.tf
  infra/envs/dev/google_storage_bucket.tf
  infra/envs/dev/imports.tf
Labels: dev/add-or-update, Infra

#94 🧱 import google_storage_bucket, google_compute_backend_service, google_compute_region_network_endpoint_group
  infra/envs/dev/google_compute_backend_bucket.tf
  infra/envs/dev/google_compute_backend_service.tf
  infra/envs/dev/google_compute_region_neg.tf
  infra/envs/dev/google_compute_url_map.tf
  infra/envs/dev/google_storage_bucket.tf
  infra/envs/dev/imports.tf
Labels: dev/add-or-update, Infra

#95 unlink ssl_certificates from lb_frontend_target_proxy
  infra/envs/dev/google_compute_backend_service.tf
  infra/envs/dev/google_compute_target_https_proxy.tf
  infra/envs/dev/google_compute_url_map.tf
  infra/envs/dev/imports.tf
Labels: dev/add-or-update, Infra

#96 とりあえずbuildが通るようにする
  backend/graph/schema.resolvers.go
  backend/service/postgres.go
  tools.go.tmp
Labels: Backend

#97 フロント側のgqlの更新
  webapp/src/gql/__generated__/gql.ts
  webapp/src/gql/__generated__/graphql.ts
Labels: Frontend

#98 🧱 import google_compute_security_policy
  infra/envs/dev/google_compute_global_forwarding_rule.tf
  infra/envs/dev/google_compute_network.tf
  infra/envs/dev/google_compute_security_policy.tf
  infra/envs/dev/imports.tf
Labels: dev/add-or-update, Infra

#99 🧱 remove frontend service
  infra/envs/dev/google_cloud_run_v2.tf
  infra/envs/dev/imports.tf
Labels: Infra, dev/destroy

#100 Delete Protectionsの解除
  infra/envs/dev/google_cloud_run_v2.tf
  infra/envs/dev/google_sql_db_instance.tf
  infra/envs/dev/imports.tf
Labels: dev/add-or-update, Infra

#101 🧱 remove frontend service
  infra/envs/dev/google_cloud_run_v2.tf
  infra/envs/dev/imports.tf
Labels: Infra, dev/destroy
